@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/IRANSansWeb_Light.woff") format('woff'),
    url("./fonts/IRANSansWeb_Light.woff2") format('woff2');
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: iransans !important;
}

.form-check .form-check-label span {
    left: 0;
    right: -1px;
}

.form-check .form-check-sign {
    padding-left: 10px;
    padding-right: 0;
}

html[dir="rtl"] .form-check-label {
    padding-right: 1.5rem;
}

.navbar {
    box-shadow: 0 4px 18px 0 rgba(0,0,0,0), 0 7px 10px -5px rgba(0,0,0,0);
}

.sidebar[data-color=purple] li>a.active {
    background-color: #6537ff;
    box-shadow: 0 16px 38px -12px #6537ff78, 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    color: #fff;
}
